RemoveallSpecialCharactersfromString-5AAE3541-EADE-ED11-A7C6-000D3AF4AEF9.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "971f7d24-c3b0-499f-a441-7846ae3f5806"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "String",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Replace Char",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Compose:_Experssion": {
          "runAfter": {
            "Initialize_variable:_String_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f22ea8cb-182f-4214-9cfb-cba6859f132d"
          },
          "type": "Compose",
          "inputs": "trim(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(triggerBody()['text'],'`',variables('Replace Char')),'´',variables('Replace Char')),'&',variables('Replace Char')),'@',variables('Replace Char')),'<',variables('Replace Char')),'>',variables('Replace Char')),decodeUriComponent('%27'),variables('Replace Char')),'/',variables('Replace Char')),'\\',variables('Replace Char')),'*',variables('Replace Char')),'!',variables('Replace Char')),'{',variables('Replace Char')),'}',variables('Replace Char')),'[',variables('Replace Char')),']',variables('Replace Char')),'(',variables('Replace Char')),')',variables('Replace Char')),'^',variables('Replace Char')),'«',variables('Replace Char')),'»',variables('Replace Char')),'©',variables('Replace Char')),'†',variables('Replace Char')),'°',variables('Replace Char')),'?',variables('Replace Char')),'÷',variables('Replace Char')),'.',variables('Replace Char')),'-',variables('Replace Char')),'$',variables('Replace Char')),'_',variables('Replace Char')),',',variables('Replace Char')),'=',variables('Replace Char')),'\"',variables('Replace Char')),'€',variables('Replace Char')),'|',variables('Replace Char')),'%',variables('Replace Char')),'#',variables('Replace Char')),'~',variables('Replace Char')),'×',variables('Replace Char')),'+',variables('Replace Char')),'π',variables('Replace Char')),'™',variables('Replace Char')),'®',variables('Replace Char')),'±',variables('Replace Char')),'§',variables('Replace Char')),'¶',variables('Replace Char')),'¢',variables('Replace Char')),'≥',variables('Replace Char')),'≤',variables('Replace Char')),'≠',variables('Replace Char')))"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25496a5d-97a9-49b3-beb3-34fde06a4fd5"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "string": "@variables('String')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "title": "String",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_variable:_String_": {
          "runAfter": {
            "Set_variable:_Replace_Char": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "7768a54b-3a86-4601-aadd-e03570e9b7ae"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "String",
                "type": "string",
                "value": "@{trim(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(triggerBody()['text'],'`',variables('Replace Char')),'´',variables('Replace Char')),'&',variables('Replace Char')),'@',variables('Replace Char')),'<',variables('Replace Char')),'>',variables('Replace Char')),decodeUriComponent('%27'),variables('Replace Char')),'/',variables('Replace Char')),'\\',variables('Replace Char')),'*',variables('Replace Char')),'!',variables('Replace Char')),'{',variables('Replace Char')),'}',variables('Replace Char')),'[',variables('Replace Char')),']',variables('Replace Char')),'(',variables('Replace Char')),')',variables('Replace Char')),'^',variables('Replace Char')),'«',variables('Replace Char')),'»',variables('Replace Char')),'©',variables('Replace Char')),'†',variables('Replace Char')),'°',variables('Replace Char')),'?',variables('Replace Char')),'÷',variables('Replace Char')),'.',variables('Replace Char')),'-',variables('Replace Char')),'$',variables('Replace Char')),'_',variables('Replace Char')),',',variables('Replace Char')),'=',variables('Replace Char')),'\"',variables('Replace Char')),'€',variables('Replace Char')),'|',variables('Replace Char')),'%',variables('Replace Char')),'#',variables('Replace Char')),'~',variables('Replace Char')),'×',variables('Replace Char')),'+',variables('Replace Char')),'π',variables('Replace Char')),'™',variables('Replace Char')),'®',variables('Replace Char')),'±',variables('Replace Char')),'§',variables('Replace Char')),'¶',variables('Replace Char')),'¢',variables('Replace Char')),'≥',variables('Replace Char')),'≤',variables('Replace Char')),'≠',variables('Replace Char')))}"
              }
            ]
          },
          "description": "See compose for full expression"
        },
        "Compose:_📢_Flow_Definition_": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "79bbe9d6-6e2d-426e-b13d-8754b5891ef6"
          },
          "type": "Compose",
          "inputs": "PURPOSE\n---------------\nRemoves all alphabetic characters from a string (both upper & lower case)\n\nINPUTS\n---------------\nString (string) - a string\n\nOUTPUTS\n---------------\nString (string) - a string without alphabetic characters\n\nDEP\n---------------\nNo dependencies.\n"
        },
        "Compose": {
          "runAfter": {
            "Compose:_Experssion": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cff741cb-41d1-4b40-8546-589d6b78152a"
          },
          "type": "Compose",
          "inputs": "@join(split(variables('String'),' '),'')"
        },
        "Initialize_variable:_Replace_Char": {
          "runAfter": {
            "Compose:_📢_Flow_Definition_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5947cb71-7075-4ab1-952e-88b039a6b1c1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Replace Char",
                "type": "string"
              }
            ]
          }
        },
        "Set_variable:_Replace_Char": {
          "runAfter": {
            "Initialize_variable:_Replace_Char": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2225a95f-2980-452b-8e22-4f5fdb241567"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Replace Char",
            "value": "@{if(equals(triggerBody()?['text_1'],'\\s'),' ',triggerBody()?['text_1'])}"
          },
          "description": "if(equals(triggerBody()?['text_1'],'\\s'),' ',triggerBody()?['text_1'])"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}